
.log {
    padding: 0;
}

.meta_logo {
    max-height: 55px;
}

.phone {
   font-size: 24px;
   
  

    
}


.nav_element {
    padding-top: 0;
    padding-bottom: 0; 
}

.logo_main {
    height: 99px;
}

.mail {
    font-size: 18px;
    


}

.height {
    height: 100px;
}

.logo_h {
    height: 75px;
    min-width: 299px;
}



.header_right {
    display:inline;
    float:right;
    margin:20px;
}

.margin {
   margin-top:60px;
}

.-margin {
    margin-top:-60px;
}

.features_p {
    color:#a6a6a6;
    font-size:16px;
    line-height: 20px;
}

.header_menu {
    display:inline;float:right;margin:30px 10px 0px 0px;
}


